body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Chrome, Safari, and Opera syntax */
    -moz-user-select: none; /* Firefox syntax */
    -ms-user-select: none; /* IE syntax */
}


.board {
    display: flex;
    justify-content: center;
    height: max-content;
    margin-top: 7vh;
    margin-bottom: 10vh;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    overflow: visible;
}
.mine {
    background: rgb(184, 44, 44);
    transition: fade;
    align-items: center;
    justify-content: center;
}
.number {
    background: rgb(234, 243, 103);
    font-size: x-large;
}
.empty {
    background: rgb(54, 160, 54);
}
.hidden {
    background: gray;
}
.hidden:hover {
    background: rgb(71, 71, 71);
}
.flagged {
    background: rgb(224, 147, 4);
}

.flagged.fa-flag {
    color: rgb(31, 108, 251);
}

.suspect {
    background: #027bc7;
}

.suspect.fa-question {
    color: #fd8438;
}
.true-flag {
    background: pink;
}

.true-flag.fa-check {
    color: #003f34;
}

.cell {
    width: 35px;
    height: 35px;
    border: transparent;
    border-radius: 4px;
    margin: 1px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-weight: bold;
    box-sizing: border-box;
    transition: background .3s ease-in-out;
}
.control {
    position: relative;
    top: 2vw;
    left: 2vw;
    max-width: fit-content;
    align-items: center;
}
.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#reset,
#reset-high-score,
#playbot {
    background: #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 6px;
    border: 1px solid coral;
}

#reset:hover,
#reset-high-score:hover,
#playbot:hover {
    background: #666;
}
#highScore,
#timer {
    background: #ccc;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.difficulty {
    background: #cec;
    padding: 10px;
    border-radius: 6px;
}

.difficulty button {
    border: none;
    border-radius: 10px;
    background-color: burlywood;
    color: rgb(131, 90, 36);
    padding: 10px;
    cursor: pointer;
}

.difficulty button:hover {
    background-color: rgb(160, 132, 96);
    color: burlywood;
}

.slidecontainer {
    width: 100%;
    align-items: center;
    display: flex;
}

strong {
    padding-top: 10px;
    padding-bottom: -20px;
    display: flex;
}

.slider {
    margin: 0 15px 0 15px;
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.5s;
    transition: opacity 0.5s;
}

#sliderValue {
    background-color: black;
    opacity: 0.6;
    color: white;
    border-radius: 4px;
    padding: 6px 15px;
    display: none;
    backdrop-filter: contrast(2px);
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #04aa6d; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider-set-button {
    padding: 10px;
}
#value-reset {
    background-color: #1d4c5e;
    color: #f5f5dc; /* Beige */
    border: 1px solid #f5f5dc; /* Beige */
}

#value-reset:hover {
    background-color: #f5f5dc; /* Beige */
    color: #1d4c5e;
    border: 1px solid #1d4c5e;
}

.difficulty #mine,
.difficulty #size {
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #eee;
    padding: 10px;
    margin-right: 5px;
}

.hall-of-fame {
    position: relative;
    top: 2vw;
    right: -90vw;
    max-width: fit-content;
    align-items: center;
}

.hall-of-fame a {
    color: #e0ecde;
    text-decoration: none;
    
}

.hall-of-fame a:hover {
    color: #59a2b1;
}

.patch-note {
    margin-top: 1vw;
    margin-left: 2vw;
}

.patch-note a {
    text-decoration: none;
    color: #e0ecde;
}

.patch-note a:hover {
    color: #59a2b1;
}
.flag,
.question-mark {
    margin: 0 10px 0 20px;
}

#notification-container {
    position: fixed;
    top: 2%;
    right: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.notification {
    display: block;
    background-color: rgba(42, 223, 81, 0.75); /* Black background color */
    color: white;
    padding: 40px;
    margin: 5px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 15px; /* Rounded borders */
    min-width: 250px; /* Set a default minimum width */

}

.notification:hover {
    background-color: rgba(42, 223, 81, 0.95);
}

.closebtn {
    margin-left: 15px;
    color: #fff;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
}

.closebtn:hover {
    color: black;
}
